<div id="forms">
<h1>Create an Account </h1>
<p>If you already have an Account, you can sign in <%= link_to 'here', login_path %>. </p>

<p>Required information for Garage Sale account</p>


<%= render 'form' %>
</div>
