<div id="text_pages">
  <h1>Pages Terms of Use</h1>
<div id="text_pages_content">
   <div class="text_page_subheading">Lorem ipsum dolor sit amet</div>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum nulla ut augue mattis mattis. Ut congue consectetur tellus sed pharetra. Nam turpis lorem, varius quis dignissim quis, bibendum quis dolor. Nullam venenatis, orci vel commodo hendrerit, urna risus dapibus augue, id porta sapien leo id diam. Sed quis lorem turpis. Aenean venenatis fermentum tempus. Suspendisse molestie consectetur euismod. Nunc consectetur ornare magna, nec volutpat metus tristique et. Quisque eget suscipit nibh. Suspendisse sapien mauris, mollis quis tristique eget, mollis sit amet metus. Vestibulum ut lacus eros, eget auctor lectus. Aenean consectetur semper elementum. Nulla eget est accumsan mi ullamcorper pharetra. Integer ornare elit ac leo fringilla vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent lobortis tortor id augue rutrum eget tristique libero tempor. In vestibulum nunc vel nisl consectetur cursus. Praesent pulvinar, mauris in elementum dignissim, purus lectus interdum augue, venenatis gravida justo lectus id nisl. Donec tincidunt euismod semper. Maecenas ipsum eros, aliquet non commodo ut, bibendum quis ante.</p>

   <div class="text_page_subheading">Lorem ipsum dolor sit amet</div>

   <p>  
     Donec et odio quis mauris ultrices dictum quis eu dolor. Aenean commodo auctor nibh, eu iaculis nibh scelerisque vel. Maecenas nec purus elit. Nulla ultricies massa in felis dapibus et commodo augue interdum. Nulla facilisi. Vestibulum malesuada consequat fermentum. Fusce odio massa, imperdiet in cursus in, faucibus consequat erat. Duis ultrices rutrum sapien vel vestibulum. Proin vel bibendum justo. Maecenas vitae urna lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin elementum congue nibh eget aliquam. Nam lacus augue, dapibus sit amet euismod eget, euismod vel ante. Praesent eu lectus sit amet justo fermentum commodo nec vitae felis. Nulla condimentum lectus sit amet diam viverra in pellentesque ante blandit. Curabitur sit amet con
   </p>
 </div>